/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Docs styles */
.documentation {

}

.documentation h1 {
    color: #111827;
    font-weight: 800;
    font-size: 2.25em;
    margin-top: 0;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
}

.documentation h2 {
    color: #111827;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
}

.documentation p {
    margin: 10px 0 20px 0;
}

.documentation blockquote {
    background: #EEE;
    padding: 20px;
    border-radius: 0 15px 15px 0;
    margin: 20px 0;
    border-left: 9px solid #CCC;
}

blockquote p {
    margin: 0;
}

.lolight {
    background: #F3F3F3;
    border-radius: 15px;
    padding: 15px;
    overflow: auto;
}

.ll-nam { /* words */
    color: #2196f3;
}
.ll-num { /* numbers */
    color: #ec407a;
}
.ll-str { /* strings */
    color: #43a047;
}
.ll-rex { /* regular expressions */
    color: #ef6c00;
}
.ll-pct { /* operators, punctation */
    color: #666;
}
.ll-key { /* keywords */
    color: #555;
    font-weight: bold;
}
.ll-com { /* comments */
    color: #aaa;
    font-style: italic;
}